.page_container {
  position: relative;
  min-height: 100vh;
  background-color: _palette(bg);
}

.content-wrap {
  padding-bottom: 14.5rem;

  @include breakpoint(small) {
    padding-bottom: 20rem;
  }
}
