.btn a {
  color: white;
}

.navbar {
  padding: 15px !important;
}

.navbar-brand {
  img {
    width: 150px;
  }
  @include breakpoint(large) {
    img {
      width: 150px;
    }
  }
  @include breakpoint(small) {
    img {
      width: 150px;
    }
  }
  @include breakpoint(xsmall) {
    img {
      width: 80px;
    }
  }
}

.nav-link {
  font-size: 18px !important;
}
