.menu {
  background-color: white;
  padding: 10px 30px;
  z-index: 11;
  div .btn {
    padding: 10px 20px;
    border-radius: 0;
  }
  div .btn:active {
    background: _palette(bg-alt);
  }
  div .btn:hover {
    background-color: _palette(bg-alt) !important;
    color: white;
  }
  .active {
    background: _palette(bg-alt);
    color: _palette(bg);
  }
}
.menu_container {
  background-color: _palette(bg-alt);
  color: white;
  padding: 2rem 5rem;
  .menu_item {
    padding: 10px 0;
  }
  p {
    color: white;
  }

  @include breakpoint(small) {
    padding: 2rem 1rem;
    .menu_item {
      padding: 0;
      h4 {
        font-size: 1.3em;
      }
      p {
        font-size: 1em;
        padding: 0;
      }
    }
  }
}

.menu_active {
  background-color: _palette(bg-alt);
  color: _palette(bg);
}

.menu_chooser {
  @include breakpoint(large) {
    margin: -150px 2rem 0;
  }

  @include breakpoint(medium) {
    margin: -150px 2rem 0;
  }

  @include breakpoint(small) {
    margin: -100px 0 0;
  }
  @include breakpoint(xsmall) {
    margin: -140px 0 0;
  }
}
