.permant-bar {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  a,
  div {
    background-color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    color: _palette(bg-alt);
    font-size: 25px;
  }
  a {
    padding: 10px 14px;
  }
  div {
    padding: 10px 0;
  }

  .menu_text_container {
    // display: none;
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0%;
    height: 100%;
    transition: 0.5s ease;
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  a:hover .menu_text_container {
    bottom: 0;
    width: 100%;
  }
}
