.permant-bar {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  a,
  div {
    background-color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    color: _palette(bg-alt);
    font-size: 25px;
  }
  div {
    padding: 10px 0;
  }
  a,
  .contact {
    padding: 10px 14px;
  }

  .menu_section {
    padding: 0;
    position: relative;
  }
  .menu_text_container {
    background-color: _palette(bg-alt);
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 40px;
    overflow: hidden;
    width: 0%;
    height: 100%;
    transition: 0.5s ease;
    .text {
      background-color: _palette(bg-alt);
      color: white;
      padding-left: 10px;
      margin: auto 0;
      font-size: 22px;
      text-align: left;
      line-height: 12px;
    }
  }

  a:hover .menu_text_container,
  div:hover .menu_text_container {
    bottom: 0;
    left: -148px;
    width: 280%;
  }
  @include breakpoint(small) {
    a,
    div,
    .contact {
      font-size: 18px;
      padding: 6px 10px;
      background-color: _palette(bg);
      color: _palette(bg-alt);
    }
    a:hover .menu_text_container,
    div:hover .menu_text_container {
      bottom: 0;
      left: -100px;
      width: 280%;
      .text {
        line-height: 10px;
        padding-left: 5px;
        font-size: 15px;
      }
    }
  }
}
