.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  a {
    display: block;
    text-align: center;
    padding: 10px 14px;
    transition: all 0.3s ease;
    color: white;
    font-size: 25px;
    @include breakpoint(small) {
      font-size: 18px;
      padding: 10px 10px;
    }
  }
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.instagram {
  background: #f90f56;
  color: white;
}
